
<div class="container-fluid" style="background-color: #EAEAEA">
	<br><br><br>
<center >
<h6>Top-Ranked and Highly Demanded IT courses</h6>
<h5>Master the Advancing Technologies and Stay Ahead of the Curve</h5>
</center>
	<br><br>
<div class="container" >
	<div class="row">
		<div class="col-lg-4">
			<div class="card" style="width: 23rem;">
			  <img class="card-img-top" src="/images/3.png" alt="Card image cap" style="margin:5px;width: 355px;height:240px; ">
			  <div class="card-body">
			  	<div container-fluid>
			  		<h5 class="card-title" style="background-color: black;color: white; margin:0;">Machine Learning Using Python</h5>
			  	</div>
			    
			    <center><br><h5 class="card-title">Duratrion-<span style="font-weight:bold;"> 40Hrs</span> </h5>

			    <p class="card-text">Master Machine Learning with Python concepts holistically – learn Pandas, NumPy, seaborn and Matpotlib and strengthen your portfolio!</p>
			    
			    <a href="#" class="btn btn-warning">Enroll Now</a>
			    <a href="#" class="btn btn-warning">Know More</a>
			    </center>
			  </div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="card" style="width: 23rem;">
			  <img class="card-img-top" src="/images/3.png" alt="Card image cap" style="margin:5px;width: 355px; height:240px;  ">
			  <div class="card-body">
			  	<div container-fluid>
			  		<h5 class="card-title" style="background-color: black;color: white; margin:0;">Machine Learning Using Python</h5>
			  	</div>
			    
			    <center><br><h5 class="card-title">Duratrion-<span style="font-weight:bold;"> 40Hrs</span> </h5>

			    <p class="card-text">Master Machine Learning with Python concepts holistically – learn Pandas, NumPy, seaborn and Matpotlib and strengthen your portfolio!</p>
			    
			    <a href="#" class="btn btn-warning">Enroll Now</a>
			    <a href="#" class="btn btn-warning">Know More</a>
			    </center>
			  </div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="card" style="width: 23rem;">
			  <img class="card-img-top" src="/images/3.png" alt="Card image cap" style="margin:5px;width: 355px;height:240px; ">
			  <div class="card-body">
			  	<div container-fluid>
			  		<h5 class="card-title" style="background-color: black;color: white; margin:0;">Machine Learning Using Python</h5>
			  	</div>
			    
			    <center><br><h5 class="card-title">Duratrion-<span style="font-weight:bold;"> 40Hrs</span> </h5>

			    <p class="card-text">Master Machine Learning with Python concepts holistically – learn Pandas, NumPy, seaborn and Matpotlib and strengthen your portfolio!</p>
			    
			    <a href="#" class="btn btn-warning">Enroll Now</a>
			    <a href="#" class="btn btn-warning">Know More</a>
			    </center>
			  </div>
			</div>
		</div>
	</div>
	<br>
		<div class="row">
		<div class="col-lg-4">
			<div class="card" style="width: 23rem;">
			  <img class="card-img-top" src="/images/3.png" alt="Card image cap" style="margin:5px;width: 355px;height:240px; ">
			  <div class="card-body">
			  	<div container-fluid>
			  		<h5 class="card-title" style="background-color: black;color: white; margin:0;">Machine Learning Using Python</h5>
			  	</div>
			    
			    <center><br><h5 class="card-title">Duratrion-<span style="font-weight:bold;"> 40Hrs</span> </h5>

			    <p class="card-text">Master Machine Learning with Python concepts holistically – learn Pandas, NumPy, seaborn and Matpotlib and strengthen your portfolio!</p>
			    
			    <a href="#" class="btn btn-warning">Enroll Now</a>
			    <a href="#" class="btn btn-warning">Know More</a>
			    </center>
			  </div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="card" style="width: 23rem;">
			  <img class="card-img-top" src="/images/3.png" alt="Card image cap" style="margin:5px;width: 355px; height:240px;  ">
			  <div class="card-body">
			  	<div container-fluid>
			  		<h5 class="card-title" style="background-color: black;color: white; margin:0;">Machine Learning Using Python</h5>
			  	</div>
			    
			    <center><br><h5 class="card-title">Duratrion-<span style="font-weight:bold;"> 40Hrs</span> </h5>

			    <p class="card-text">Master Machine Learning with Python concepts holistically – learn Pandas, NumPy, seaborn and Matpotlib and strengthen your portfolio!</p>
			    
			    <a href="#" class="btn btn-warning">Enroll Now</a>
			    <a href="#" class="btn btn-warning">Know More</a>
			    </center>
			  </div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="card" style="width: 23rem;">
			  <img class="card-img-top" src="/images/3.png" alt="Card image cap" style="margin:5px;width: 355px;height:240px; ">
			  <div class="card-body">
			  	<div container-fluid>
			  		<h5 class="card-title" style="background-color: black;color: white; margin:0;">Machine Learning Using Python</h5>
			  	</div>
			    
			    <center><br><h5 class="card-title">Duratrion-<span style="font-weight:bold;"> 40Hrs</span> </h5>

			    <p class="card-text">Master Machine Learning with Python concepts holistically – learn Pandas, NumPy, seaborn and Matpotlib and strengthen your portfolio!</p>
			    
			    <a href="#" class="btn btn-warning">Enroll Now</a>
			    <a href="#" class="btn btn-warning">Know More</a>
			    </center>
			  </div>
			</div>
		</div>
	</div>
</div>
</div>