
<div class="footer-padding"></div>

  <div class="footer" style="background-image: linear-gradient(180deg, #003063 0%, #002038 100%);color: white;">
    <br>
    <div class="container-fluid">
    	<div class="container">
    		<ul class="locationul">
    			<li ><a href="#">Discover Jobs</a></li>
    			<li><a href="#">Hire our Student</a></li>
    			<li><a href="#">Privacy Policy</a></li>
    			<li><a href="#">Refund Policy</a></li>
    			<li><a href="#">Terms and Conditions</a></li>
    		</ul>
    		<center>
    			<ul class="locationul2">
	    			<li><a href="#"><i class="fa fa-facebook-square icons" aria-hidden="true"></i></a></li>
	    			<li><a href="#"><i class="fa fa-twitter icons" aria-hidden="true"></i></a></li>
	    			<li><a href="#"><i class="fa fa-whatsapp icons" aria-hidden="true"></i></a></li>
	    			<li><a href="#"><i class="fa fa-linkedin icons" aria-hidden="true"></i></a></li>
    		    </ul>
    		    <p>© 2018 Brillica Services. Developed by Digital Code Technology</p>
    		    <ul class="locationul3">
	    			<li><a href="#"><i class="fa fa-cc-paypal" aria-hidden="true"></i></i></a></li>
	    			<li><a href="#"><i class="fab fa-cc-amex" aria-hidden="true"></i></i></a></li>
	    			<li><a href="#"><i class="fa fa-cc-mastercard" aria-hidden="true"></i></a></li>
	    			<li><a href="#"><i class="fa fa-cc-visa" aria-hidden="true"></i></i></a></li>
    		    </ul>
    		</center>
            <br>
    	</div>
    </div>

  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>
