<div class="navbar" style="background-image:linear-gradient(180deg, #003063 24%, #001b35 100%);">
		<ul class="navlist1">
			<li> <a href="#" class="header1link"> <i style="color: white;" class="phone fa fa-phone" ></i> +91-8882140688 </a> </li>
			<li> <a href="#" class="header1link"><i class="envelope fa fa-envelope" aria-hidden="true"></i> info@brillicaservices.com
</a> </li>
			<li> <div class="right">
				<ul>

			<li class="Blog"> <a href="#" class="header1link"> Blog </a> </li>
			<li> <b> <a href="#" class="header1link"> Pay Online</a> </b> </li>
			<li> <a href="#" target="_blank" class="header1link"> Contact Us </a>  </li>
			<li> <a href="#" target="_blank" class="header1link"> <i class="fa fa-facebook-square icons" aria-hidden="true"></i> </a> </li>
			<li> <a href="#" target="_blank" class="header1link"> <i class="fa fa-twitter icons" aria-hidden="true"></i> </a> </li>
			<li> <a href="#" target="_blank" class="header1link"> <i class="fa fa-whatsapp icons" aria-hidden="true"></i> </a> </li>
			<li> <a href="#" target="_blank" class="header1link"> <i class="fa fa-linkedin icons" aria-hidden="true"></i> </a> </li>
		</ul>
	</div>
</li>
		</ul>
	</div>
</header>


