<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous"></head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="container-fluid">
    <%- include('header1'); -%>
  </div>
<!-- Image and text -->
<nav class="navbar navbar-expand-lg upper1" style="color: white;">
  <a class="navbar-brand" href="#">
    <img src="/images/1.png" width="150" height="50" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse lower" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link btn btncolor btn-lg lower1" href="#">About Berlica</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btncolor btn-lg" href="#">Training Center</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btncolor btn-lg" href="#">Course Catalog</a>
      </li>
      
    </ul>
  </div>
 
</nav>
  