<div class="slide hi-slide">
  <div class="h1-prev"></div>
  <div class="h1-next"></div>
  <ul>
    <li><img class="w-10" src="/images/slide1/2.jpg" alt="First slide"></li>
    <li><img class="w-10" src="/images/slide1/1.png" alt="First slide"></li>
    <li><img class="w-10" src="/images/slide1/3.jpg" alt="First slide"></li>
    <li><img class="w-10" src="/images/slide1/4.jpg" alt="First slide"></li>
    <li><img class="w-10" src="/images/slide1/1.png" alt="First slide"></li>
  </ul>
 </div> 