<div class="container-fluid navbar2class">
	<div class="container ">
		<ul>
			<li class="items1"><i class="fa fa-search"></i>Classroom Training</li>
			<li class="items1"><i class="fa fa-search"></i>Live Instructor Led training</li>
			<li class="items1"><i class="fa fa-search"></i>Customized Trainng </li>
			<li class="items1"><i class="fa fa-search"></i>Simulated Internship Trainng</li>
			<li class="items1"><i class="fa fa-search"></i>Graduate Level Training</li>
		</ul>
	</div>
</div>