<div class="bg-image">
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="rgba(255,255,255,0.6)" fill-opacity="1" d="M0,320L10.9,304C21.8,288,44,256,65,208C87.3,160,109,96,131,101.3C152.7,107,175,181,196,218.7C218.2,256,240,256,262,234.7C283.6,213,305,171,327,165.3C349.1,160,371,192,393,218.7C414.5,245,436,267,458,256C480,245,502,203,524,154.7C545.5,107,567,53,589,74.7C610.9,96,633,192,655,234.7C676.4,277,698,267,720,229.3C741.8,192,764,128,785,122.7C807.3,117,829,171,851,181.3C872.7,192,895,160,916,160C938.2,160,960,192,982,197.3C1003.6,203,1025,181,1047,144C1069.1,107,1091,53,1113,26.7C1134.5,0,1156,0,1178,21.3C1200,43,1222,85,1244,122.7C1265.5,160,1287,192,1309,213.3C1330.9,235,1353,245,1375,256C1396.4,267,1418,277,1429,282.7L1440,288L1440,0L1429.1,0C1418.2,0,1396,0,1375,0C1352.7,0,1331,0,1309,0C1287.3,0,1265,0,1244,0C1221.8,0,1200,0,1178,0C1156.4,0,1135,0,1113,0C1090.9,0,1069,0,1047,0C1025.5,0,1004,0,982,0C960,0,938,0,916,0C894.5,0,873,0,851,0C829.1,0,807,0,785,0C763.6,0,742,0,720,0C698.2,0,676,0,655,0C632.7,0,611,0,589,0C567.3,0,545,0,524,0C501.8,0,480,0,458,0C436.4,0,415,0,393,0C370.9,0,349,0,327,0C305.5,0,284,0,262,0C240,0,218,0,196,0C174.5,0,153,0,131,0C109.1,0,87,0,65,0C43.6,0,22,0,11,0L0,0Z"></path></svg>
  <br><br><br><br>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="rgba(255,255,255,0.6)" fill-opacity="1" d="M0,128L14.1,117.3C28.2,107,56,85,85,90.7C112.9,96,141,128,169,149.3C197.6,171,226,181,254,197.3C282.4,213,311,235,339,224C367.1,213,395,171,424,133.3C451.8,96,480,64,508,74.7C536.5,85,565,139,593,170.7C621.2,203,649,213,678,202.7C705.9,192,734,160,762,176C790.6,192,819,256,847,240C875.3,224,904,128,932,90.7C960,53,988,75,1016,122.7C1044.7,171,1073,245,1101,266.7C1129.4,288,1158,256,1186,234.7C1214.1,213,1242,203,1271,181.3C1298.8,160,1327,128,1355,106.7C1383.5,85,1412,75,1426,69.3L1440,64L1440,320L1425.9,320C1411.8,320,1384,320,1355,320C1327.1,320,1299,320,1271,320C1242.4,320,1214,320,1186,320C1157.6,320,1129,320,1101,320C1072.9,320,1045,320,1016,320C988.2,320,960,320,932,320C903.5,320,875,320,847,320C818.8,320,791,320,762,320C734.1,320,706,320,678,320C649.4,320,621,320,593,320C564.7,320,536,320,508,320C480,320,452,320,424,320C395.3,320,367,320,339,320C310.6,320,282,320,254,320C225.9,320,198,320,169,320C141.2,320,113,320,85,320C56.5,320,28,320,14,320L0,320Z"></path></svg>
</div>

<div class="bg-text">

  <div class="row">
  	<div class="col-lg-6">
  		<h5>Why Choose Brillica Services for IT Training</h5>
  		<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne" style="background-color: #003063">
      <h5 class="mb-0" align="left">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="color: white">
          Certified & Experienced Instructors
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        We guarantee high-quality training with our large pool of in-house certified instructors, who bring on-board massive training and education industry experience and walk you through the certification success.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo" style="background-color: #003063">
      <h5 class="mb-0" align="left">
        <button style="color: white" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          100% guarantee to run batch schedules
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        Every student counts for us and we ensure to conduct our batches as scheduled, irrespective of the number of participants. Unlike others, we do not postpone or cancel the training because we value your decision and time you make out to fulfil your training needs.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree" style="background-color: #003063">
      <h5 class="mb-0" align="left">
        <button style="color: white" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Focused on specialized technical training in all verticals
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        We concenter our training to develop the industry-demanded technical skills for all verticals rather than sticking to topic-specific training deliveries. We invest dedicated efforts to add rich value to your technical training experience and your profile for making you best-fit for the corporate world.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree" style="background-color: #003063">
      <h5 class="mb-0" align="left">
        <button style="color: white" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Blended Learning Modes
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        We offer holistic learning solutions, best to fit the unique learning needs of every corporate and individual. All authorized and official IT trainings are offered to you in diverse blended modes to help you comprehend and learn better, suiting your conveniences.
      </div>
    </div>
  </div>
</div>
  	</div>

  	<div class="col-lg-6" style="background-color:#003063; color: white;">
  		<br>
  		<h5>Testimonials</h5>
  		<br>
  		<p ><img src="/images/6.jpg" height="60px"></p>
  		<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      
      <p style="line-height: 1.7;font-size: 20px; font-weight:none;">Trainer is very helpfull and devoted towards teaching.They provide a good exposure.
We worked on a lot of projects and the environment is very good</p>
<center>
	<div class="row">
		<div class="col-lg-1"></div>
		<div class="col-lg-2">
			<img src="/images/7.jpg" style="border-radius:50%;" width="60px;" height="60px">
		</div>
		<div class="col-lg-6">
			<h5>SHRISHTI SINGH RATHORE</h5>
			<h6 style="color: yellow" align="left">Student</h6>
			
		</div>
	</div>
</center>
<br><br><br>
    </div>
    <div class="carousel-item">
       <p style="line-height: 1.7;font-size: 20px; font-weight:none;">Trainer is very helpfull and devoted towards teaching.They provide a good exposure.
We worked on a lot of projects and the environment is very good</p>
<center>
	<div class="row">
		<div class="col-lg-1"></div>
		<div class="col-lg-2">
			<img src="/images/7.jpg" style="border-radius:50%;" width="60px;" height="60px">
		</div>
		<div class="col-lg-6">
			<h5>SHRISHTI SINGH RATHORE</h5>
			<h6 style="color: yellow" align="left">Student</h6>
			
		</div>
	</div>
</center>
<br><br><br>
    </div>
    <div class="carousel-item">
       <p style="line-height: 1.7;font-size: 20px; font-weight:none;">Trainer is very helpfull and devoted towards teaching.They provide a good exposure.
We worked on a lot of projects and the environment is very good</p>
<center>
	<div class="row">
		<div class="col-lg-1"></div>
		<div class="col-lg-2">
			<img src="/images/7.jpg" style="border-radius:50%;" width="60px;" height="60px">
		</div>
		<div class="col-lg-6">
			<h5>SHRISHTI SINGH RATHORE</h5>
			<h6 style="color: yellow" align="left">Student</h6>
			
		</div>
	</div>

</center>
<br><br><br>
    </div>
  </div>

  
</div>
  	</div>
  	
  </div>

</div>
