<div class="bg-image1"></div>

<div class="bg-text1">
  <div class="row">
  	<div class="col-lg-4">
  		<img src="/images/8.png" style="border:4px solid white">
  	</div>
  	<div class="col-lg-6 thirdbacki" style="color: white">
  		<center>
  			<h3>Discover Your Interests And Find The Best IT Course For A Promising Career</h3>
  			<p>Seek assistance from our experts and explore the best certification learning paths</p>
  			<br><br>
  			<button class="btn btn-warning">Consult our Carrer Expert <i class="fa fa-headphones" aria-hidden="true"></i></button>
  		<center>

  	</div>
  </div>
</div>